.formS{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
}
.containerCreator{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/9c/98/22/9c9822a872aadcc57e2dfb3be7866780.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
label{
    color: #ffffff;
    text-shadow: -2px 0px 3px rgba(100, 231, 255, 0.88), 2px 0px 3px #FF0046;
    font-weight: 700;
}
#acheuno{
    color: #fa4753
}
.error{
    color: rgb(255, 230, 0);
}
.Deleter{
    margin: 3px;
}
.delButton{
    margin: 10px;
    color: white;
    background-color: transparent;
    border: #FF0046;
}
.delButton:hover{
    color: white;
    background-color: #FF0046;
    border: #FF0046;
}