.Wall{
    color: aliceblue;
    background: linear-gradient(0deg, #352D3E 15%, #B15E8C 90%);
    background-repeat:repeat-y;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
#cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
@font-face {
        font-family: 'Determination Mono Web Regular'; 
        src: url('C:\WINDOWS\FONTS\DeterminationMonoWebRegular-Z5oq.ttf');
}
.Welcome{
    font-family: 'Determination Mono Web Regular';
    text-shadow: 0px 0px 8px #000000;
}