.Wall{
    background-image: url("https://cdn.pixabay.com/photo/2017/06/08/07/20/texture-2382757_1280.jpg");
    background-blend-mode: multiply;
    background-position: bottom;
    color: aliceblue;
    background-color: #352d3e;
    background-repeat:repeat-y;
    background-size:cover;
    display: table;
}
#cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
@font-face {
        font-family: 'Determination Mono Web Regular'; 
        src: url('C:\WINDOWS\FONTS\DeterminationMonoWebRegular-Z5oq.ttf');
}
.Welcome{
    font-family: 'Determination Mono Web Regular';
    text-shadow: 0px 0px 8px #000000;
}