.Wall{
    color: aliceblue;
    background: linear-gradient(0deg, #190035 65%, #b15e8c3b 90%);
    background-repeat:repeat-y;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
#cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.Welcome{
    font-family: 'determination-mono-web-regular', sans-serif;
    text-shadow: 0px 0px 8px #000000;
}
video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-position: bottom;
    z-index: -1;
  }
.Navi{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}