#Pagination {
    width: 220px;
    height: 8vh;
    display: flex;
    background-color: #352d3e;
    border-radius: 40px;

}
.Page{
    color: #ffecdb;
    text-shadow: 0px 0px 10px #ff4775;
    padding: 1em 1.2em;
    width: 2vw ;
    height: 2vh;
    background-image: url('https://i.gifer.com/7sBM.gif');
    background-size: cover;
    background-position: top;
    border-radius: 60%;
}
.Page:hover {
    filter: hue-rotate(150deg);
  }