#Pagination {
    width: 25vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    background-color: #352d3e;
    border-radius: 40px;
}
#Pagination:ul{
    display: none;
}
#Page{
    color: #ffecdb;
    text-shadow: 0px 0px 10px #ff4775;
    padding: 1em 1.2em;
    width: 2vw ;
    height: 2vh;
    background-image: url('https://i.gifer.com/7sBM.gif');
    background-size: cover;
    background-position: top;
    border-radius: 60%;
}
#Page:hover {
    filter: hue-rotate(150deg);
  }