/* .Sub{
    background-color: rgba(212, 109, 255, 0.67);
    color: rgb(255, 255, 255);
    font-weight: 300;
    
} */
.Sub {
    background: #00ffff;
    border: none;
    padding: 8px 16px;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
  }
  
  #spa {
    display: inline-block;
    transform: skew(21deg);
  }
  
  .Sub::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #ff009d;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .Sub:hover {
    color: #fff;
  }
  
  .Sub:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }